
  a {
    color: blue; /* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: red; /* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  